<a href="https://colab.research.google.com/github/meghana550/FSD/blob/master/super30.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#convedrting double digits into single digits
nums=[BBY9,81,72]

s=""

for i in nums:

    s+=str(i)

res=[]

for i in s:

    res.append(int(i))

print(res)

[9, 8, 1, 7, 2]

printing 0's at the end

In [ ]:
nums=[0,1,2,4,0,8,0]
n1=[]
n2=[]
for i in nums:
    if i==0:
        n1.append(i)
    else:
        n2.append(i)
print(n2+n1)

[1, 2, 4, 8, 0, 0, 0]

checking the if condition statements

In [ ]:
n=int(input())
if n%2==0:
  if n>6 and n<=20:
    print("weired")
  else:
    print("Not weired")
else:
  print("weird")

8
weired

printing 0s in middle

In [ ]:
nums=[0,1,2,4,0,8,0]
n1=[]
n2=[]
for i in nums:
  if i==0:
    n1.append(i)
  else:
    n2.append(i)
  k=int(len(n2)/2)
  p=n2[:k]
  p1=n2[k:]
print(p+n1+p1)

[1, 2, 0, 0, 0, 4, 8]

single number

In [ ]:
def singleNumber(n):
        self=[]
        for i in n:
            v=n.count(i)
            if v<2:
                self.append(i)
        print (self)
singleNumber([2,2,1])

[1]

two swap

In [ ]:
def twoswap(n):
  l=[]
  n=str(n)
  for i in n:
    l.append(i)
  p1=[]
  p2=[]
  for i in l:
    if l.index(i)%2==0:
      p1.append(i)
    else:
      p2.append(i)
  k=[]
  for i in range(0,len(p1)):
    k.append(p2[i])
    k.append(p1[i])
  s=""
  for i in k:
    s+=i
  print(s)
twoswap(324231)

232413

fibanacci series

In [ ]:
n=int(input())
a=0
b=1
c=a+b
print(a,b,end=" ")
for i in range(2,n+1):
  c=a+b
  a=b
  b=c
print(c)

4
0 1 3

abundant number

In [ ]:
n=int(input())
s=0
for i in range(1,n):
  if n%i==0:
    s=s+i
if s>n:
  print("abundant number")
else:
  print("not a abundant number")

12
abundant number

automarphic number

In [ ]:
n=25
p=len(str(n))
n3=n*n
n2=str(n3)
s=1
for i in range(1,n):
  if n%i==0:
    s=s+i
    n=n//10
  n5=n2[p:]
  n4=n2[:p]
print(n5)
print(n4)
if n==s:
  print("automarphic number")
else:
  print("not a automarphic number")

5
62
not a automarphic number

amstrong number

In [ ]:
n=int(input())
temp=n
sum=0
for i in range(1,n):
  r=n%i
  sum=sum+r**r
  n=n//10
if sum==temp:
  print("amstrong number")
else:
  print("not amstrong number")

10
not amstrong number

amicable number

In [ ]:
n=int(input())
n1=int(input())
s1=0
s2=0
for i in range(1,n):
  if n%i==0:
    s1+=i
for i in range(1,n1):
  if n1%i==0:
    s2+=i
if s1==n1 and s2==n:
  print("amicable number")
else:
  print("not amicable number")

220
284
amicable number

sociable number

In [ ]:
n1=int(input())
n2=int(input())
n3=int(input())
n4=int(input())
s1=0
s2=0
s3=0
s4=0
for i in range(1,n1):
  if n1%i==0:
    s1+=i
for i in range(1,n2):
  if n2%i==0:
    s2+=i
for i in range(1,n3):
  if n3%i==0:
    s3+=i
for i in range(1,n4):
  if n4%i==0:
    s4+=i
if s1==n2 and s2==n3 and s3==n4 and s4==n1:
  print("sociable number")
else:
  print("not sociable number")

1264460
 1547860
1727636
1305184
sociable number

Triangle number

In [ ]:
n=int(input())
k=[1,3]
c=3
for i in range(3,n+1):
  l=c+i
  k.append(l)
  l=c
if n in k:
  print("triangle number")
else:
  print("not triangle number")

5
not triangle number

untouchable number

In [ ]:
n=int(input())
s=0
for i in range(1,n):
  if n%i==0:
    s+=i
if s==n:
  print("untouchable number")
else:
  print("not untouchable number")

2
not untouchable number

ramanujan number

In [ ]:
n=1729
a=12
b=1
c=a**3
d=b**3
e=c+d
if n==e:
  print("ramanujan number")
else:
  print("not ramanujan number")

ramanujan number

neon number

In [ ]:
n=int(input())
s=n*n
sum=0
for i in range(1,n):
  r=s%10
  sum=sum+r
  s=s//10
if sum==n:
  print("neon number")
else:
  print("not neon number")

9
neon number

co prime number

In [ ]:
n1=int(input())
n2=int(input())
hcf=1
for i in range(1,n1):
  if n1%i==0:
    hcf=i
for i in range(1,n2):
  if n2%i==0:
    hcf=i
if hcf==1:
  print("co primes")
else:
  print("not co primes")

7
11
co primes

array in a list

In [ ]:
n=[6,9,3,12,15,18]
s1=min(n)
l=[]
for i in n:
  if i%s1==0:
    l.append(i)
if n==l:
  print("True")
else:
  print("False")

True

ascii values in a string

In [ ]:
s="dog"
s1=s.upper()
n1=[]
for i in s1:
  k=ord(i)-64
  n1.append(k)
print(n1)

[4, 15, 7]

binary search algorithm

In [ ]:
def binary(a,data):
  l=0
  r=len(a)-1
  mid=0
  while l<=r:
    mid=(l+r)//2
    if data==a[mid]:
      return mid
    elif data<a[mid]:
        r=mid-1
    else:
        l=mid+1
  return -1
a=[2,4,5,6,7,8]
data=8
res=binary(a,data)
if res!=1:
  print(res)
else:
  print("element not found")

5

To create a class in object

In [ ]:
class Name:
  def display(self):
    print("megha")
    print("\n")
c=Name()
c.display()

megha

removing numbers and special character in a string

In [ ]:
n="megha123@"
k=""
k1=""
for i in n:
    if i.isalnum():
        k+=i
    if i.isalpha():
        k1+=i
print(k)
print(k1)

megha123
megha

To print special character in a string

In [ ]:
n="@%^&megha123@"
k1=""
for i in n:
    if i.isalnum():
        continue
    else:
        k1+=i
print(k1)

count of characters

In [ ]:
s="Pop up".lower()
k=[]
for i in s:
    if i.isalnum():
        k.append(i)
for i in set(k):
    print(i,":",s.count(i))

p : 3
u : 1
o : 1